services:
    php:
        build: .
        restart: always
        ports:
            - "8080:80"
            - "443:443"
            - "443:443/udp"
        volumes:
            - .:/app
        environment:
            - SERVER_NAME=:80
            - APP_RUNTIME=Symfony\Component\Runtime\GenericRuntime
            - APP_ENV=dev
            - MERCURE_URL=http://mercure:80/.well-known/mercure
            - MERCURE_PUBLIC_URL=http://localhost:8082/.well-known/mercure
            - MERCURE_PUBLISHER_JWT_KEY=TAkNE4bLhiiGS8X7c53mt5UV2mTnC/z3RHF25eZmoXE=
            - MERCURE_SUBSCRIBER_JWT_KEY=TAkNE4bLhiiGS8X7c53mt5UV2mTnC/z3RHF25eZmoXE=
        tty: true

    db:
        image: postgres:16-alpine
        environment:
            POSTGRES_DB: zendash
            POSTGRES_PASSWORD: password
            POSTGRES_USER: symfony
        volumes:
            - db-data:/var/lib/postgresql/data
        ports:
            - "5432:5432"

    adminer:
        image: adminer
        restart: always
        ports:
            - "8081:8080"

    mercure:
        image: dunglas/mercure
        environment:
            SERVER_NAME: :80
            MERCURE_PUBLISHER_JWT_KEY: TAkNE4bLhiiGS8X7c53mt5UV2mTnC/z3RHF25eZmoXE=
            MERCURE_SUBSCRIBER_JWT_KEY: TAkNE4bLhiiGS8X7c53mt5UV2mTnC/z3RHF25eZmoXE=
            MERCURE_CORS_ALLOWED_ORIGINS: '*'
            MERCURE_TLS_KEY_FILE: ""
            MERCURE_TLS_CERT_FILE: ""
            GLOBAL_OPTIONS: "local_certs"
        ports:
            - "8082:80"

volumes:
    db-data:
