services:
  php:
    build: .
    restart: always
    ports:
      - "8080:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - .:/app
    environment:
      - SERVER_NAME=:80
      - APP_RUNTIME=Symfony\Component\Runtime\GenericRuntime
      - APP_ENV=dev
      - MERCURE_URL=http://127.0.0.1/.well-known/mercure
      - MERCURE_PUBLIC_URL=http://localhost:8080/.well-known/mercure
      - MERCURE_PUBLISHER_JWT_KEY=a-very-secret-key
      - MERCURE_SUBSCRIBER_JWT_KEY=a-very-secret-key
    tty: true

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: zendash
      POSTGRES_PASSWORD: password
      POSTGRES_USER: symfony
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"

volumes:
  db-data:
