<turbo-frame id="widget_partial" data-widgets--widgets-type-target="frame">
    <div class="row">
        <div class="input-field col s12">
            {{ form_widget(contentForm.text, {attr: {class: 'validate'}}) }}
            <label for="{{ contentForm.text.vars.id }}">{{ 'label.note'|trans([], 'widget') }}</label>
            {% if contentForm.text.vars.errors|length > 0 %}
                <span class="helper-text red-text">
                        {% for error in contentForm.text.vars.errors %}
                            {{ error.message }}
                        {% endfor %}
                    </span>
            {% endif %}
        </div>
    </div>
</turbo-frame>
