<ul class="collection">
    {% for item in widget.content %}
        <li class="collection-item">
            <label>
                <input type="checkbox" {{ item.done ? 'checked' }}>
                <span class="{{ item.done ? 'todo-done' }}">{{ item.task }}</span>
            </label>
        </li>
    {% endfor %}
</ul>
