<ul class="collection">
    <li class="collection-item">
        <label>
            <input type="checkbox" {{ widget.content.done ? 'checked' }}>
            <span class="{{ widget.content.done ? 'todo-done' }}">{{ widget.content.task }}</span>
        </label>
    </li>
</ul>
