<div class="row" id="widgets-container">
    {% for widget in widgets|default([]) %}
        {{ include('home/widget/widgetCard.html.twig', {widget: widget}) }}
    {% else %}
        <p id="no-widget-message">{{ 'label.no_widget'|trans([], 'widget') }}</p>
    {% endfor %}
</div>
