<turbo-frame id="widget_modal_frame">
    <div id="create-widget-modal" class="modal" data-controller="modal-form">
        <div class="modal-content">
            <h5>{{ 'label.create'|trans([], 'widget') }}</h5>

            <turbo-frame id="widget_form_frame">
                {{ include('widget/widgetFormInner.html.twig') }}
            </turbo-frame>
        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close btn-flat">
                {{ 'label.close'|trans([], 'widget') }}
            </a>
        </div>
    </div>
</turbo-frame>
